<div class="container">
    <form [formGroup]="form">
        <div class="titulo">
            <h3 class="tituloadd">Detalles de la Tarea</h3>
        </div>

        <!-- Campo Nombre -->
        <div class="box-nombre">
            <input placeholder="Nombre" formControlName="titulo" readonly />
        </div>

        <!-- Selección de Horario -->
        <div class="selecioHorario">
            <select class="selecHorario" formControlName="hora" [disabled]="true">
                <option *ngFor="let type of tarea?.Horario" [value]="type">{{type}}</option>
            </select>
        </div>

        <!-- Descripción de la Tarea -->
        <div class="descripcionTarea">
            <div class="descripcion">
                <label for="text">Descripción de la tarea</label>
            </div>
            <div class="descripcionTxtArea">
                <textarea class="descripcionTxtAreaDentro" formControlName="descripcion" readonly></textarea>
            </div>
        </div>
    </form>
</div>

