

.vacio {
    text-align: center; 
    color: #666; 
    font-style: italic; 
}




p:hover {
    background-color: rgba(68, 0, 253, 0.1); 
}

.btnEliminate {
    padding: 5px; 
    background: rgb(220, 53, 69); 
    color: white; 
    border-radius: 4px; 
    border: none;
    cursor: pointer; 
  
}

.btnEliminate:hover {
    background: rgb(178, 30, 45); 
    transform: translateY(-2px); 
}


.listado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    width: 100%;
    align-items: center;
    gap: 2%;
}


.tareasN{
    width: 30%;
    overflow: auto;
    padding-left: 2%;
}
.horario{
    width: 30%;
}

.btnDetalles{
    width: 13%;
}
.btnELiminar{
    width: 13%;
    padding-right: 2%;
}








