

<div class="container">

    <div class="titulo">
        <h3 class="tituloadd">Añadir tarea</h3>
    </div>

    <div class="box-nombre">
        <input #addT placeholder="Name"/>
    </div>

    <div class="selecioHorario">
        <select class="selecHorario" #addThorario>
            <option *ngFor="let type of Horario"
            [value] = "type">{{type}}</option>

        </select>
    </div>

    <div class="btnadd">
        <button class="btn"(click)="addTarea(addT.value, 
                                    addThorario.value )">
                                            Añadir tarea

        </button>
    </div>

    <div class="descripcionTarea">
        <label for="descripcion">Descripción de la tarea </label>
        <textarea id="descripcion"></textarea>
    </div>
</div>

