
<div class="container">
    <div class="vacio">
        <p  *ngIf="tareas.length === 0"> No hay tareas</p>
    </div>
    
    <div class="listado">
        <ul>
            <li *ngFor="let tarea of tareas;
                let i = index">
                {{tarea.addT}} -
                Hora: {{tarea.addThorario}} -
                Tarea: {{ tarea.addDescripcion }} 
                <button class="btnEliminar" (click)="deleteTareas(i)">Eliminar</button>
            </li>
        </ul>
    </div>
</div>
