

.vacio {
    text-align: center; 
    color: #666; 
    font-style: italic; 
}

.listado {
    list-style: none;  
}

.listado li {
    padding: 8px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.listado li:hover {
    background-color: rgba(0, 123, 255, 0.1); 
}

.btnEliminar {
    padding: 5px; 
    background: rgb(220, 53, 69); 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-left: 35px;
}

.btnEliminar:hover {
    background: rgb(178, 30, 45); 
    transform: translateY(-2px); 
}







