<div class="container">
  <h2>Editar</h2>
  
  <form [formGroup]="form" (ngSubmit)="editTarea()">
    <div class="nombreE">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" placeholder="titulo" formControlName="titulo" required />
    </div>

    <div class="horarioE">
      <label for="horario">Horario</label>
      <div class="elegirHora">
        <select id="horario" formControlName="hora" required>
          <option *ngFor="let hora of Horario" [value]="hora">{{hora}}</option>
        </select>
      </div>
    </div>

    <div class="descripcionC">
      <div class="labelDescripcion">
        <label for="descripcion">Descripción</label>
      </div>
      <input type="text" id="descripcion" formControlName="descripcion" required />
    </div>

    <div class="btnEditar">
      <button [disabled]="form.invalid" class="editarbutton" type="submit">
        Editar
      </button>
    </div>

    <div *ngIf="form.invalid && form.touched" class="error-message">
      <p>Por favor, completa todos los campos correctamente.</p>
    </div>

  </form>
</div>
